* {
    box-sizing: border-box;
    font-family: Montserrat;
}

h1 {
    font-size: 20px;
/*     font-size: max(2px, 1vh); */
    margin-left: 4px;
    margin-right: 4px;
}

h2 {
    font-size: 32px;
    margin: 16px;
}

h1, h2 {
    font-weight: normal;
    line-height: 1.0;
    text-align: center;
    margin-top: 0px;
    
}

body {
    background: #EEE;

    margin: 0;
    height: 100vh;

    display: grid;
/*     grid: 64px 3fr minmax(180px, 1fr) / auto; */

    
/*     grid-template-rows:64px max(1fr, 500px) 150px;  */
    grid-template-rows:60px 1fr 150px; 

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    overflow: hidden; /* Hide scrollbars */
}

header {
/*     max-width: 400px; */
/*     width: calc(100vw - 5px); */
    width: calc(100vw - 8px);
    margin: 4px;
    margin-bottom: 0px;
    display: grid;
    height: 44px;
    grid: auto / 44px auto 44px;
    
    justify-content: center;
    align-items: center;
}

#board {
    margin-bottom: 0px;
    margin-top: 0px;
/*     max-height: calc(100vh / 5 * 6); */
    
/*     background: #AAA; */
}

.row {
    display: flex;
    justify-content: center;
    gap: 4px;
    height: calc(100% / 6 - 14px);
    margin-bottom: 12px;
/*     background: #A00; */
}

.sample-row {
    display: flex;
    justify-content: center;
    gap: 4px;
    height: 50px;
    margin-top: 8px;
    margin-bottom: 20px;
}

.sample-row .cell {
    font-size: 35px;
}

.row.shake .cell {
    animation: shake 0.4s ease 1;
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }

    20%, 60% {
        transform: translateX(-10%);
    }

    40%, 80% {
        transform: translateX(10%);
    }
}

.cell {
/*     font-size: min(calc(10vh - 30px), calc(18vw - 25px)); */
    font-size: min(calc(5vh), calc(18vw - 20px));
    font-weight: 600;
    line-height: 0;
    color: transparent;

    background: #EEE;
    --front: #CCC;
    --highlight: #FFF;
    --shadow: #DDD;
    box-shadow: 0 8px var(--front),
        inset 1px 2px 2px var(--highlight),
        inset -1px -2px 2px var(--shadow),
        0 12px 4px rgba(0, 0, 0, 0.2);
    border-radius: 12%;

    display: flex;
    align-items: center;
    justify-content: center;

/*     width: calc(20% - 8px); */
/*     width: calc(100vw / 5 - 5px); */
    width: max(calc(100vw / 5 - 50px), 50px);
    max-width: 80px;
    min-height: 20px;

    transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
}

@supports (aspect-ratio: 1) {
    .cell {
/*         aspect-ratio: 1.5; */
/*         width: auto; */
/*         max-width: calc(100vw / 5 - 5px); */
    }
}

.height-fix .cell {
    height: 100%;
}

.cell.filled {
    color: #444;
}

.cell.incorrect {
    background: #AAA;
    --front: #777;
    --highlight: #BBB;
    --shadow: #999;
}

.cell.close {
    background: #FC0;
    --front: #C80;
    --highlight: #FD2;
    --shadow: #EA0;
}

.cell.correct {
    background: #5C0;
    --front: #2A2;
    --highlight: #6E0;
    --shadow: #3B0;
}

#keyboard {
    display: grid;
    grid: repeat(3, 1fr) / auto;
    gap: 4px;
/*     margin-bottom: 6px; */
    margin-bottom: 0px;
}

.key-row {
    display: flex;
    justify-content: center;
    gap: 4px;
/*     background: #A00; */
    margin-left: 4px;
    margin-right: 4px;
}

.key {
    font-size: 20px;
    background: #BBB;
    color: #444;
    transition: background-color 0.2s, color 0.2s, transform 50ms;
    
    max-width: 80px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;

    height: 100%;
/*     height: 40px; */
/*     width: 10px; */
    border-radius: 8px;

    cursor: pointer;
}

.key.pressed {
    transform: scale(0.9);
}

@supports (aspect-ratio: 1) {
    .key {
/*         aspect-ratio: 0.90; */
/*         width: 100%; */
        width: calc((100vw - 48px) / 11);    
/*         max-width: 50px; */
/*         width: auto; */
    }

    .key.wide {
/*         aspect-ratio: 0.9; */
/*         width: calc((100vw - 48px) / 2);   */
/*         width: calc((100vw - 48px) / 2);   */
        width: calc((100vw - 48px) / 11 * 2 + 4px);  
        max-width: 160px;
/*         max-width: calc(15% - 2px); */
/*         width: 104px; */
/*         max-width: 104px; */
        
        background: #afd8ff;
    }
}

.key.incorrect {
    background: #888;
    color: white;
}

.key.close {
    background: #FC0;
    color: #444;
}

.key.correct {
    background: #5C0;
    color: #444;
}



.doc-key {
    width: 30px; 
    background: #afd8ff;
    
    
    font-size: 20px;
    color: #444;
    transition: background-color 0.2s, color 0.2s, transform 50ms;
    
    align-items: center;
    justify-content: center;
   
/*     max-width: 80px; */

    display: inline-flex;
 
    border-radius: 8px;

    margin: 4px;
}


footer {
    height: 5px;
    padding: 0;
    margin: 0;
    font-size: 5px;
    text-align: center;
    color: #BBB;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
}

.hide {
    display: none;
}

.close-button {
    float: right;
    font-size: 20px;
}

.popup {
    background: white;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);

    border-radius: 12px;
    padding: 20px;

    width: 90%;
    max-width: 500px;
    max-height: 95%;
    overflow-y: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    text-align: center;
}

details {
    margin-bottom: 10px;
}

summary {
    font-size: 20px;
}

input[type="checkbox"] {
    margin-left: 0;
    margin-right: 6px;
    vertical-align: top;
}

.small {
    color: #555;
    font-size: smaller;
}

button {
    font-size: 20px;
    background: #DDD;
    border: none;

    display: block;
    padding: 5px 10px;
    border-radius: 12px;
    margin: auto;

    cursor: pointer;
}

button.minimal {
    padding: 0;
    margin: 0;
    padding-top: 2px;
    height: 44px;
    width: 44px;
}

button.random, button.random:active, button.random:hover {
    border-radius: 12px;
    background: #0064ab;
    color: white;
}

button.day, button.day:active, button.day:hover {
    border-radius: 12px;
    background: #6abe00;
}


/* Remove closing x in dialog boxes */
.ui-dialog-titlebar-close {
    visibility: hidden;
}
